<h1><%= Note.model_name.human({count: 2}) %></h1>

<nav>
  <%= link_to t('new_model', model: Note.model_name.human), new_note_path %>
</nav>

<ul>
<% @notes.each do |note| %>
  <li><%= link_to note.title, note %></li>
<% end %>
</ul>
