<h1><%= Task.model_name.human({count: 2}) %></h1>

<nav>
  <ul>
  <% if policy(:task).create? %>
    <li><%= link_to t('new_model', model: Task.model_name.human), new_task_path %></li>
  <% end %>
  <% if policy(:task).index? %>
    <li><%= link_to t('done_tasks'), tasks_done_path %></li>
    <li><%= link_to t('todo_tasks'), tasks_todo_path %></li>
  <% end %>
  </ul>
</nav>
