.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  form {
    max-width: 300px;

    .formControl {
      width: 100%;
      height: 40px;
      font-size: 1.5rem;
    }

    input[type="checkbox"] {
      width: 30px;
    }

    .paidContainer {
      display: flex;
      align-items: center;
      gap: 10px;
      font-size: 1.5rem;
      label {
        width: 100%;
      }
    }

    .splitContainer {
      display: flex;
      align-items: center;
      gap: 10px;
      font-size: 1.5rem;
      label {
        width: 100%;
      }
    }
  }
}
